<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinite Looping Gallery</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/pinterest.css">
    <link 
        href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap" 
        rel="stylesheet"
    >
</head>
<body style="margin: 0;">
  <div id="header-placeholder"></div>
    <div class="gallery" id="gallery">
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0572.PNG');"></div>
            <div class="card-overlay">交響組曲「ドラゴンクエストⅠ」</div>
            <div class="description">すぎやまこういち、東京都交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0573.PNG');"></div>
            <div class="card-overlay">交響詩「星の旅」</div>
            <div class="description">田中和彦、大阪フィルハーモニー交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0574.PNG');"></div>
            <div class="card-overlay">弦楽セレナーデ「月光の幻想」</div>
            <div class="description">山田太郎、名古屋フィルハーモニー交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0575.PNG');"></div>
            <div class="card-overlay">管弦楽幻想曲「風の舞」</div>
            <div class="description">佐藤花子、札幌交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0576.PNG');"></div>
            <div class="card-overlay">オーケストラ組曲「大地への賛歌」</div>
            <div class="description">小林正樹、広島交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0577.PNG');"></div>
            <div class="card-overlay">幻想交響曲「海のささやき」</div>
            <div class="description">中村美咲、福岡交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0578.PNG');"></div>
            <div class="card-overlay">交響詩「黄昏の街」</div>
            <div class="description">鈴木一郎、仙台フィルハーモニー管弦楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0579.PNG');"></div>
            <div class="card-overlay">劇付随音楽「雪の王国」</div>
            <div class="description">伊藤莉子、京都市交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0580.PNG');"></div>
            <div class="card-overlay">舞台組曲「森の目覚め」</div>
            <div class="description">松本誠、神戸市室内管弦楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0581.PNG');"></div>
            <div class="card-overlay">交響組曲「新世界への扉」</div>
            <div class="description">清水優子、名古屋フィルハーモニー交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0572.PNG');"></div>
            <div class="card-overlay">交響詩「火山の鼓動」</div>
            <div class="description">斎藤健司、札幌交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0573.PNG');"></div>
            <div class="card-overlay">弦楽セレナーデ「春の訪れ」</div>
            <div class="description">井上花、東京フィルハーモニー交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0574.PNG');"></div>
            <div class="card-overlay">管弦楽幻想曲「夏の記憶」</div>
            <div class="description">橋本直美、広島交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0575.PNG');"></div>
            <div class="card-overlay">オーケストラ組曲「秋の調べ」</div>
            <div class="description">山口拓也、福岡交響楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0576.PNG');"></div>
            <div class="card-overlay">幻想交響曲「星降る夜に」</div>
            <div class="description">田村彩、仙台フィルハーモニー管弦楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0577.PNG');"></div>
            <div class="card-overlay">交響詩「絶え間ない流れ」</div>
            <div class="description">木村真一、神戸市室内管弦楽団</div>
        </div>
        <div class="card">
            <div class="content" style="background-image: url('../img/IMG_0578.PNG');"></div>
            <div class="card-overlay">劇付随音楽「虹の架け橋」</div>
            <div class="description">森下友里、京都市交響楽団</div>
        </div>
        </div>
    </div>
    
  <script src="../js/nav.js" defer></script>
  <script src="../js/pickcolor.js" defer></script>
  <script src="../js/endlessflow.js" defer></script>
  <script src="../js/headerinsert.js" data-header-path="header/header1.html" defer></script>

</body>
</html>